extends layout

block content 
    .container 
        .row.justify-content-md-center 
            .col-10 
                .card
                    .card-header.text-center
                        span Order details
                    .card-body 
                        .card-title 
                            h5 Reference ID: 
                                span.badge.bg-secondary #{order.external_reference_id }
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item.d-flex.justify-content-between.align-items-center Mondu uuid 
                                    span.badge.bg-secondary #{order.uuid}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Amount
                                    span.badge.bg-secondary #{(order.real_price_cents/100).toLocaleString('de-DE', { style: 'currency', currency: 'EUR' })}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Payment method 
                                    span.badge.bg-secondary #{order.payment_method}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Buyer
                                    span.badge.bg-secondary #{order.buyer.company_name}
                                li.list-group-item.d-flex.justify-content-between.align-items-center State 
                                    case order.state
                                        when "confirmed"
                                            span.badge.bg-success= order.state
                                        when "canceled"
                                            span.badge.bg-danger= order.state
                                        when "declined"
                                            span.badge.bg-danger= order.state
                                        when "pending"
                                            span.badge.bg-warning= order.state
                                        default 
                                            span.badge.bg-secondary= order.state   
                   
                        if (orderStatus && orderStatus.length > 0 && orderStatus[0]!=undefined)
                            .card-body 
                                .card-title 
                                    h5 Status change overview: 
                            
                                .card-body
                            
                                        table.table.table-hover
                                            thead
                                            tr
                                                th Webhook topic
                                                th Order status 
                                            tbody.table-group-divider
                                            each order in orderStatus
                                                tr
                                                    td= order.topic
                                                    td= order.order_state                                             
                        
                        if order.state === "authorized"
                            .card-body
                                .alert.alert-light
                                    span This order is currently authorized by Mondu. You can confirm it by clicking the button below.
                                    hr
                                    form
                                        .mb-3
                                            input#externalRefId.form-control(type="text", name="externalRefId", placeholder="optional External Reference ID")       
                                    button.btn.btn-success#confirm-button(type="submit") Confirm Order
                    .card-footer
                        .card-body
                            button.btn.btn-outline-secondary(data-bs-toggle='collapse' href='#collapseOrder') Show Full Order Data
                        .collapse#collapseOrder
                            hr
                            pre#order-data 
                                | #{JSON.stringify(order, null, 2)}

    script.
        // If the order is authorized, enable confirming it from the UI
        // In the real world, this action would be done by your backend whenever the buyer has completed the checkout process
        // You can also overwrite the external reference ID here, if you want to use a different one than the one you provided during checkout
        // This can be helpful when final order IDs in your system are generated post-checkout
        // https://docs.mondu.ai/reference/post_api-v1-orders-uuid-confirm
        confirmButton = document.getElementById('confirm-button');
        if (confirmButton) {
            confirmButton.addEventListener('click', async (event) => {
                event.preventDefault();
                const uuid = '#{order.uuid}';
                const externalRefId = document.getElementById('externalRefId').value;
                
                try {
                    const response = await fetch('/mondu-confirm-order', {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ uuid: uuid, externalRefId: externalRefId })
                    });

                    // Check if the response is successful (status code in the range 200-299)
                    if (response.ok) {
                        // Reload the page if the response is successful
                        location.reload();
                    } else {
                        // Log the error if the response is not successful
                        console.error(`Error: ${response.status} - ${response.statusText}`);
                    }
                } catch (error) {
                    // Log any other errors to the console
                    console.error(error);
                }
            });
        }
