extends layout

block content 
    .container 
        .row.justify-content-md-center 
            .col-10 
                .card
                    .card-header.text-center
                        span Order details
                    .card-body 
                        .card-title 
                            h5 Reference ID: 
                                span.badge.bg-secondary #{order.external_reference_id }
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item.d-flex.justify-content-between.align-items-center Mondu uuid 
                                    span.badge.bg-secondary #{order.uuid}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Amount in cent 
                                    span.badge.bg-secondary #{order.real_price_cents}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Payment method 
                                    span.badge.bg-secondary #{order.payment_method}
                                li.list-group-item.d-flex.justify-content-between.align-items-center Buyer
                                    span.badge.bg-secondary #{order.buyer.company_name}
                                li.list-group-item.d-flex.justify-content-between.align-items-center State 
                                    case order.state
                                        when "confirmed"
                                            span.badge.bg-success= order.state
                                        when "canceled"
                                            span.badge.bg-danger= order.state
                                        when "declined"
                                            span.badge.bg-danger= order.state
                                        default 
                                            span.badge.bg-secondary= order.state   
                   
                    if (orderStatus && orderStatus.length > 0 && orderStatus[0]!=undefined)
                        .card-body 
                            .card-title 
                                h5 Status change overview: 
                          
                            .card-body
                        
                                    table.table.table-hover
                                        thead
                                        tr
                                            th Webhook topic
                                            th Order status 
                                        tbody.table-group-divider
                                           each order in orderStatus
                                            tr
                                                td= order.topic
                                                td= order.order_state                                             
                        
                        if order.state === "authorized"
                            .card-body
                                .alert.alert-light
                                    span This order is currently authorized by Mondu. You can confirm it by clicking the button below.
                                    hr
                                    button.btn.btn-success#confirm-button Confirm Order
                    .card-footer
                        .card-body
                            button.btn.btn-outline-secondary(data-bs-toggle='collapse' href='#collapseOrder') Show Full Order Data
                        .collapse#collapseOrder
                            hr
                            pre#order-data 
                                | #{JSON.stringify(order, null, 2)}

    script. 
        confirmButton = document.getElementById('confirm-button');
        confirmButton.addEventListener('click', async (event) => {
            event.preventDefault();
            const uuid = '#{order.uuid}';
            const response = await fetch('/mondu-confirm-order', {
                method: 'POST',
                headers: {
                "Content-Type": "application/json"},
                body: JSON.stringify({ uuid: uuid })
            })
            .then(response => response.json())
            .then(data => {
                if (data.order.state === "confirmed") {
                    window.location.href = "/success";
            }
            })
            .catch(error => console.error(error));
        });
